Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
BreakBeforeBraces: Attach
SortIncludes: true
IncludeBlocks: Preserve
IncludeIsMainRegex: "$"
SortUsingDeclarations: Never
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
Standard: Latest
BreakBeforeBinaryOperators: All
ContinuationIndentWidth: 4
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
AlignOperands: DontAlign
BreakTemplateDeclarations: Yes
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign
NamespaceIndentation: Inner
FixNamespaceComments: true
InsertBraces: true
BreakBinaryOperations: OnePerLine
AllowBreakBeforeNoexceptSpecifier: Always
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakOpenParenthesis: 2000
